* {
    margin: 0;
    box-sizing: border-box;
}

body {
    padding-top: 200px;
    text-align: center;
    background-image: url("img/background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

h1 {
    color: white;
    font-family: 'Beth Ellen', cursive;
    font-size: 64px;
}

h1 span {
    color: #5EEAD4;
}

p {
    font-family: 'Cinzel', serif;
    margin-bottom: 70px;
    font-size: 20px;
    color: white;
}

a {
    font-family: 'Spectral', serif;
}


.btn1 {
    color: white;
}

.btn2 {
    margin: 80px;
    width: 90px;
    text-decoration: none;
    border: 10px solid #5EEAD4;
    border-radius: 10px;
    background-color: #5EEAD4;
}

a span{
    color: black;
}